
/* Style for main content */
#main-doc {
  position: absolute !important;
  margin-left: 200px !important;
  top: 0 !important;
}

#navbar {
  position: fixed !important;
  max-width: 200px !important;
  top: 0px;
  left: 0px;
  width: 100px !i;
  height: 100%;
  border-right: solid;
  border-color: lightgrey;
}